<nav aria-label="breadcrumb">
  <ol class="px-4 py-2 flex flex-wrap list-none rounded-md bg-transparent">
    @for (
      breadcrumb of breadcrumbService.breadcrumbs;
      track breadcrumb;
      let last = $last;
      let index = $index
    ) {
      <li
        class="inline-flex items-center"
        [attr.aria-current]="last ? 'page' : null"
      >
        @if (!last && breadcrumb.url && !isParentRoute(breadcrumb.url)) {
          <a
            [routerLink]="breadcrumb.url"
            class="flex items-center text-sm text-gray-500 hover:text-gray-700 focus:outline-hidden transition-colors duration-200"
          >
            {{ breadcrumb.label }}
          </a>
        } @else if (last && breadcrumb.url && !isParentRoute(breadcrumb.url)) {
          <!-- ÚLTIMO ITEM con URL: también clickeable -->
          <a
            [routerLink]="breadcrumb.url"
            class="text-sm font-semibold text-gray-800 truncate hover:text-gray-600 focus:outline-hidden transition-colors duration-200"
          >
            {{ breadcrumb.label }}
          </a>
        } @else {
          <!-- Para padres y items sin URL - siempre texto -->
          <span
            [class]="
              last
                ? 'text-sm font-semibold text-gray-800 truncate'
                : 'flex items-center text-sm text-gray-500 cursor-default'
            "
          >
            {{ breadcrumb.label }}
          </span>
        }

        <!-- Separador -->
        @if (!last) {
          <svg
            class="shrink-0 mx-2 size-4 text-gray-400"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="m9 18 6-6-6-6"></path>
          </svg>
        }
      </li>
    }
  </ol>
</nav>
