<!-- Overlay solo en móvil -->
@if (sidebarService.sidebarVisible() && sidebarService.isMobile()) {
  <div
    class="fixed inset-0 bg-black/50 z-40"
    tabindex="0"
    (click)="sidebarService.closeSidebar()"
    (keydown.enter)="sidebarService.closeSidebar()"
    (keydown.space)="sidebarService.closeSidebar()"
    aria-label="Cerrar sidebar"
  ></div>
}

<aside
  class="fixed top-0 md:top-2 bottom-0 md:bottom-2 left-0 md:left-2 bg-zinc-800 shadow-xs rounded-none md:rounded-lg w-56 border border-zinc-900 flex flex-col z-50 transition-all duration-300 ease-in-out"
  [ngClass]="{
    '-translate-x-full':
      !sidebarService.sidebarVisible() && sidebarService.isMobile(),
    'translate-x-0':
      sidebarService.sidebarVisible() && sidebarService.isMobile(),
    'md:-translate-x-[232px]':
      !sidebarService.sidebarVisible() && !sidebarService.isMobile(),
    'md:translate-x-0':
      sidebarService.sidebarVisible() && !sidebarService.isMobile(),
  }"
>
  <!-- Logo -->
  <div class="h-14 px-4 flex items-center justify-between">
    <a class="flex items-center gap-3 cursor-pointer">
      <img
        src="/images/logo_white.png"
        class="max-h-10 max-w-full"
        alt="main_logo"
      />
      <span class="text-md text-white font-semibold">Reportes DG</span>
    </a>
    @if (sidebarService.sidebarVisible() && sidebarService.isMobile()) {
      <button
        class="text-zinc-400 flex items-center cursor-pointer hover:text-white transition-colors"
        (click)="sidebarService.toggleSidebar()"
      >
        <i class="material-symbols-rounded !text-2xl">menu_open</i>
      </button>
    }
  </div>
  <hr
    class="w-full h-px border-0 bg-gradient-to-r from-white/0 via-white/20 to-white/0 mb-2"
  />
  <!-- Menu -->
  <div class="flex-1 overflow-y-auto">
    <ul class="flex flex-col pl-0 mb-0 list-none">
      <li class="mt-0.5">
        <a
          class="sidebar-menu-btn"
          routerLink="/reportes/faltas"
          routerLinkActive="active"
        >
          <i class="material-symbols-rounded icon-menu-btn">assignment_late</i>
          <span>Faltas recurrentes</span>
        </a>
      </li>
      <li class="mt-0.5">
        <a
          class="sidebar-menu-btn"
          routerLink="/reportes/ventas-cfe"
          routerLinkActive="active"
        >
          <i class="material-symbols-rounded icon-menu-btn">shopping_bag</i>
          <span>Ventas CFE</span>
        </a>
      </li>
    </ul>
  </div>
  <hr
    class="w-full h-px border-0 bg-gradient-to-r from-white/0 via-white/20 to-white/0 mt-2"
  />
  <!-- Footer -->
  <div class="h-12 flex items-center justify-center">
    <a class="text-[#BC8246]">
      <span class="text-sm">© Dorothy Gaynor</span>
    </a>
  </div>
</aside>
