@import "tailwindcss";
@import "primeicons/primeicons.css";
@import "material-symbols/outlined.css";
@import "material-symbols/rounded.css";

:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "InterVariable", sans-serif;
    font-optical-sizing: auto;
  }
}

@theme {
  --font-body: "Inter", sans-serif;
}

body {
  @apply bg-gray-100;
}

.sidebar-menu-btn {
  @apply flex items-center gap-2 py-2 px-4 border-0 mx-3 mb-[1.5px] font-medium text-zinc-400 text-xs rounded-md bg-none transition-colors hover:bg-zinc-700 cursor-pointer;
}

.icon-menu-btn {
  @apply opacity-50 !text-[1.125rem];
}

.sidebar-menu-btn.active {
  @apply bg-[#BC8246] dark:bg-[#15203c] text-white;
}
