@import "tailwindcss";
@import "primeicons/primeicons.css";
@import "material-symbols/outlined.css";
@import "material-symbols/rounded.css";

:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "InterVariable", sans-serif;
    font-optical-sizing: auto;
  }
}

@theme {
  --font-body: "Inter", sans-serif;
}

body {
  @apply bg-gray-100;
}

.sidebar-menu-btn {
  @apply flex items-center gap-2 py-2 px-4 border-0 mx-3 mb-[1.5px] font-medium text-zinc-400 text-xs rounded-md bg-none transition-colors hover:bg-zinc-700 cursor-pointer;
}

.icon-menu-btn {
  @apply opacity-50 !text-[1.125rem];
}

.sidebar-menu-btn.active {
  @apply bg-[#BC8246] dark:bg-[#15203c] text-white;
}

@layer utilities {
  .styled-scrollbar {
    @apply overflow-y-auto; /* mantiene scroll vertical */

    /* Scrollbar para Chrome/Edge/Safari */
    &::-webkit-scrollbar {
      @apply w-1.5; /* ancho 6px */
    }

    &::-webkit-scrollbar-track {
      @apply bg-transparent rounded-full;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-gray-400 rounded-full border-2 border-transparent;
      background-clip: content-box; /* necesario para border */
    }

    &::-webkit-scrollbar-thumb:hover {
      @apply bg-gray-500;
    }

    /* Scrollbar para Firefox */
    scrollbar-width: thin;
    scrollbar-color: #9ca3af transparent; /* gray-400 */
  }
}

/* Header Datatable */
.p-datatable-thead > tr > th.p-datatable-column-sorted {
  background: inherit !important;
  color: #09090b !important;
}

.p-datatable-thead > tr > th.p-datatable-column-sorted:hover {
  background: #f1f5f9 !important;
  color: #09090b !important;
}

.p-datatable-thead > tr > th.p-datatable-column-sorted .p-datatable-sort-icon {
  color: inherit !important;
}
